.env
.env.*
!.env.example
node_modules/
dist/
build/
*.log
.DS_Store

# Local Backup & Scratch Folders
backup/

# Local LLD Documentation & Scratch Files
*_lld.html
*.html
*.pdf
convo.md
check_db.js


zzzzz.txt
%USERPROFILE%
.npm-cache/
.npm/
MCP/
**/%USERPROFILE%/
